<div class="card">

    <figure class="list-group list-group-flush p-3">
        <blockquote class="blockquote">
            <p>{{quote.content}}</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Someone famous in <cite title="Source Title">Source Title</cite>
        </figcaption>
    </figure>

    <div class="card-body">
        <button (click)="onEdit.emit(quote)" type="button" class="btn btn-primary">Redigera</button>
        <button (click)="quoteStore.deleteQuote(quote.id)" type="button" class="btn btn-secondary">Radera</button>
    </div>

</div>