<h2>{{this.pageTitle()}}</h2>
<form [formGroup]="bookForm" (ngSubmit)="onSubmit()" action="">
    <input type="hidden" formControlName='id'>
    <div class="mb-3">
        <label for="title" class="form-label">Titel</label>
        <input formControlName="title" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Författare</label>
        <input formControlName="author" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="publishedDate" class="form-label">Datum</label>
        <input formControlName="publishedDate" type="date" class="form-control">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" (click)="onReset()">Reset</button>
    </div>
</form>